<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Aplikasi_undangan.Properties.Settings.d_undanganConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\d_undangan.mdb"
      providerName="System.Data.OleDb" />
    <add name="Aplikasi_undangan.Properties.Settings.d_undanganConnectionString1"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\d_undangan.mdb"
      providerName="System.Data.OleDb" />
    <add name="Aplikasi_undangan.Properties.Settings.d_undanganConnectionString2"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\user\Desktop\d_undangan.mdb"
      providerName="System.Data.OleDb" />
    <add name="Aplikasi_undangan.Properties.Settings.d_undanganConnectionString3"
      connectionString="Data Source=(local);Initial Catalog=d_undangan;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Aplikasi_undangan.Properties.Settings.d_undanganConnectionString4"
      connectionString="Dsn=Mysqlku;database=d_undangan;option=0;port=3306;server=localhost;uid=root"
      providerName="System.Data.Odbc" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">

    <supportedRuntime version="v4.0"/>

  </startup>
</configuration>
